<div class="container">
    <div class="no_email">
    <p class="no_email_text_facebook">페이스북 로그인시,</p>
    <p class="no_email_text">이메일을 비공개한 경우 가입이 불가합니다. </p>
    <p class="no_email_text" style="margin-bottom: 1px;">다음의 <a href="https://www.facebook.com/settings?tab=applications" class="no_email_link">링크</a>에서 mju_hugwart 앱을 <span style="font-weight: 600;">삭제</span>하시고,</p>
    <p class="no_email_text"><span style="font-weight: 600;">이메일을 포함</span>하여 회원가입을 부탁드립니다.</p>
    </div>
</div>