// Place all the styles related to the eat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_background {
    padding-bottom: 50px;
    padding-top: 120px;
    width: 100%;
    background-position: center center;
    background-image: url('/images/new_form.jpeg');
    background-repeat: no-repeat;
}

.maps {
    width: 500px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

 .map_wrap {
     position: relative;
     overflow: hidden;
     width: 100%;
     height: 350px;
 }
 
 .map_wrap_icon {
     position: relative;
     overflow: hidden;
     width: 800px;
     height: 500px;
 }
 

.cook_main {
    width: 100%;
    height: 450px;
    background-position: center center;
    background-image: url("/images/cook32.png");
    background-repeat: no-repeat;
}

.cook_title {
    padding-bottom: 50px;
    padding-top: 160px;
    text-align: center;
    font-size: 37px;
    color: #fffffF;
}

.cook_con {
    margin: 0 auto;
    width: 500px;
}

.cook_input {
    padding-top: 21px;
    padding-bottom: 22px;
}

.cook_category {
    width: 520px;
    margin: 20px auto 20px;
}

.queryname {
    color: #B0B0B0;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}

.queryname_span {
    font-weight: 600;
    font-size: 23px;
    color: #ff792a;
}

.gnb {
	float: left;
}

.gnb li {
    font-size: 18px;
	list-style: none;
	float: left;
	margin-left: 35px;
}

.gnb > li > a {
    color: #FFFFFF;
	text-decoration: none;
}

.gnb > li > a:hover {
    color: #ff792a;
}

.cook_category::after {
	content:'';
	display: block;
	clear: both;
}

.cook_body {
    width: 400px;
    height: 350px;
    margin: 30px auto;
}

.index_menu_icon_con {
    padding-top: 20px;
    width: 484px;
    margin: 0 auto;
}

.index_menu_icon_text {
    display: block;
    padding-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.index_menu_icon_text:hover {
    color: #FFE400;
}

.cook_jquery:hover {
    color: #FFE400;
}


.cook_list-back {
    height: 80px;
    background: #ffffff;
    width: 100%;
}

.eat_banner_back {
    // background: #ffffff;
    width: 100%;
}

.cook_menu {
    background-color: white;
    margin-right: 2px;
    font-size: 15px;
    font-weight: 600;
    float: left;
    width: 140px;
    height: 40px;
    text-align: center;
    border-bottom: 2px solid rgba(150, 150, 150, 0.22);
}


.cook_grandparent {
    padding-top: 10px;
    border-top: 1px solid rgba(150, 150, 150, 0.22);
    width: 810px;
    margin: 0 auto;
}

.cook_grandparent::after {
	content:'';
	display: block;
	clear: both;
}

.cook_mediparent {
    float: left;
    height: 310px;
}

.cook_parent {
    position: relative;
    float: left;
    width: 250px;
    height: 188px;
    margin-left: 10px;
    margin-right: 10px;
}

.cook_event {
    background-color: #f7702e;
    position: absolute;
    top: 40px;
    left: 95px;
    height: 25px;
    width: 60px;
}

.new_event {
    background-color: #f7702e;
    position: absolute;
    top: 20px;
    left: 925px;
    height: 25px;
    width: 100px;
}

.new_event_txt {
    color: #FFFFFF;
    text-align: center;
    font-size: 13px;
    padding-top: 3px;
    margin: 0px;
}

.event_edit {
    position: absolute;
    top: 50px;
    right: 22px;
}

.cook_event_detail {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 75px;
    left: 0px;
    height: 40px;
    width: 250px;
}

.cook_event_txt {
    color: #FFFFFF;
    text-align: center;
    font-size: 13px;
    padding-top: 3px;
    margin: 0px;
}

.cook_event_detail_txt {
    line-height: 30px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    font-size: 17px;
    margin: 0px;
    padding-top: 5px;
}


.cook_parent > img {
    height: 100%;
    width: 100%;
}

.menu_content-text1 {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 3px;
}

.menu_content-text2 {
    text-align: center;
    color: #8a8b8f;
    font-size: 13px;
    margin-bottom: 2px;
}

.menu_content-text3 {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.menu_content {
    text-align: center;
    background: #ffffff;
    height: 107px;
    padding-top: 10px;
}

#link > a:hover {
    border-color: #ff792a;
    color: #ff792a;
}


.cook_menu_txt {
    position: relative;
    top: 20%;
}

.eat_banner {
    float: left;
    background-color: #ffffff;
    height: 150px;
    width: 400px;
    margin-bottom: 10px;
}
.eat_banner:nth-child(odd) {
    margin-right: 10px;
}


.eat_banner_map {
    background-position: center center;
    background-image: url("/images/cook_map32.jpg");
    background-repeat: no-repeat;
}

.eat_banner_pic {
    background-position: center center;
    background-image: url("/images/cook_pic.jpg");
    background-repeat: no-repeat;
}

.eat_banner_alone {
    background-position: center center;
    background-image: url("/images/cook_alone.jpg");
    background-repeat: no-repeat;
}

.eat_banner_study {
    background-position: center center;
    background-image: url("/images/cook_study.jpg");
    background-repeat: no-repeat;
}

.eat_banner_text {
    color: #ffffff;
    margin: 0;
    font-size: 23px;
    // font-weight: 600;
    text-align: center;
}

.eat_banner_text2 {
    letter-spacing: 1px;
    padding-top: 43px;
    padding-bottom: 3px;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #FFE400;
    text-align: center;
}


// 가게 세부 설명

.span12 {
    margin-top: 86px;
}

.store-container {
    // background-color: rgba(150, 150, 150, 0.22);
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}


.store_title_con {
    position: relative; // 이벤트 생성 버튼 참조
    border-top: 4px solid #F15F5F;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    // background-color: #F15F5F;
    width: 1050px;
    margin: 10px auto;
}

.store_title_adver {
    background-color: #f7702e;
    width: 1050px;
    margin: 10px auto;
}

.store-title_adver_txt {
    color: #212121;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}


.store-rating-con {
    border-top: 1px solid rgba(150, 150, 150, 0.22);
    border-bottom: 1px solid rgba(150, 150, 150, 0.22);
    background-color: white;
    width: 1050px;
    // height: 80px;
    margin: 0 auto;
}

.store_detail_con {
    width: 1050px;
    margin: 0 auto;
    // border-bottom: 1px solid rgba(150, 150, 150, 0.22);
}

.store_detail_text1 {
    position: relative;
    background-color: white;
    margin-right: 10px;
    width: 600px;
    height: 350px;
    padding-left: 50px;
    padding-top: 30px;
    float: left;
}

.store_manage {
    position: absolute;
    top: 330px;
    left: 460px;
}

.store_manage_txt {
    margin-right: 8px;
    font-size: 15px;
    font-weight: 600;
}

.store_detail_text2 {
    background-color: white;
    width: 440px;
    float: left;
}

.btn-detail-storeprice {
    text-align: center;
    margin-bottom: 7px;
}

.fa-chevron-left { margin-top: 60%; color: #D5D5D5; }
.fa-chevron-right { margin-top: 60%; color: #D5D5D5; }

.carousel-inner.onebyone-carosel {
    margin: auto;
    width: 80%;
}

.store-title {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.store-title-cooklist {
    font-size: 16px;
    color: #9a9a9a;
}

.store-title-review {
    margin: 0;
    padding-bottom: 20px;
    font-size: 15px;
    text-align: center;
}

.store-modal-title {
    font-size: 20px;
    color: #ff4200;
    font-weight: 600;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.store-modal-body {
    padding: 3px;
}

.store-modal-content {
    width: 100%;
    height: 400px;
}

.store-rating {
    padding-top: 25px;
    margin: 0px;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

.store-rating-number {
    margin: 0px;
    font-weight: 600;
    color: #F15F5F;
    font-size: 50px;
    text-align: center;
}

.review_image {
    padding-left: 10px;
}

.review_title {
    padding-right: 10px;
    padding-left: 5px;
    font-weight: 600;
    font-size: 14px;
    color: #222;
}

.rating-option {
    padding-top: 5px;
    text-align: right;
}

.rating-option > img {
    width: 19px;
}

.review-confirm {
    position: absolute;
    top: 285px;
    right: 35px;
}

.review-confrim-title {
    color: #353535;
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    top: 285px;
    right: 2px;
}

.store-rating-star {
    width: 132px;
    margin: 0 auto;
    padding-bottom: 25px;
}

.rating-reply-con {
    background-color: white;
    width: 1050px;
    margin: 10px auto;
}

.review-con {
    position: relative;
    padding-top: 15px;
    margin: 0 auto;
    width: 600px;
}

.review-user-con {
    border-top: 1px solid rgba(150, 150, 150, 0.22);
    padding: 30px 30px;
    margin: 50px auto;
    width: 800px;
}

.review-input {
    margin-top: 5px;
    height: 32px;
}

.store-rating-reply {
    margin-bottom: 10px ;
}

.store-rating-star > img {
    width: 23px;
}

.store-rating-form {
    float: left;
}

.store-rating-form > img {
    margin: 5px 0px;
    width: 20px;
}

.rating_con {
    width: 80%;
    margin: 0 auto 100px;
}

.menu_grandparent {
    width: 100%;
}

.menu_grandparent::after {
	content:'';
	display: block;
	clear: both;
}


.menu_parent1 {
    float: left;
}

.menu_title1 {
    font-size: 18px;
    font-weight: 600;
}

.menu_content1 {
    margin: 0px;
    font-size: 16px;
}

.menu_title_main {
    float: left;
}

.price-detail {
    width: 400px;
}

.menu_parent3 {
    margin-left: 35%;
}

.menu_number {
    float: left;
    margin-bottom: 6px;
    font-size: 16px;
}

.menu-number2 {
    font-size: 16px;
}

.margin-0 {
    margin: 0px;
}

.menu_price {
    margin-left: 74px;
    float: left;
}

.cook_price {
    padding-left: 30px;
}

.openmenu {
    padding-left: 270px;
}

.openmenu-title {
    top: 318px;
    left: 220px;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    color: #D90224;
    position: absolute;
}

.menu_parent2 {
    margin-left: 20%;
}


.map-hide {
    display: none;
}

.fa-map {
    color: #FFBB00;
}

.cook_image {
    height: 250px;
    width: 100%;
}

// every_map_show
.cook_map_every {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('/images/cook_map_every56.png');
}

.random_every {
    height: 800px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('/images/random_cook34.jpg');
}

.cook_map_title_con {
    width: 260px;
    margin: 80px auto 20px;
}

.random_title_con {
    width: 213px;
    margin: 70px auto 0px;
}

.roulette {
    position: relative;
    width: 210px;
    margin: 70px auto 120px;
}

.roulette_image {
    width: 220px;
}

input[type="image" i]:focus {
    outline: none;
}

.countdown_second {
    margin-top: 70px;
    text-align: center;
    display: none;
    font-size: 70px;
    font-weight: 600;
    color: #FFFFFF;
}

// .roulette_title {
//     position: absolute;
//     top: 20px;
//     left: 55px;
//     font-family: 'Architects Daughter', cursive;
//     color: #FFFFFF;
//     font-size: 30px;
//     font-weight: 600;
// }

.roulette_title {
    margin-top: 80px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 600;
}

.random_page_content {
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.random_page_content > img {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
    width: 100%;
    height: 200px;
}

.random_page_title {
    margin: 0;
    font-size: 30px;
    color: #FFBB00;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
}

.random_page_pic {
    margin: 0;
    margin-bottom: 2px;
    color: #EAEAEA;
    font-size: 15px;
    font-weight: 600;
}

.random_page_review {
    margin: 0;
    color: #FFFFFF;
    font-size: 15px;
}

.btn-random-onemore {
    color: #FFFFFF;
    margin-top: 40px;
    border: rgba(150, 150, 150, 0.22);
    background: rgba(150, 150, 150, 0.22);
}

.btn-random-onemore:hover {
    background-color: #121212;
    color: #FFFFFF;
}

.btn-random-onemore:focus {
    color: #FFFFFF;
}
// random page end //


.cook_map_title {
    border-bottom: 1px solid #FFFFFF;
    letter-spacing: 1px;
    text-align: center; 
    font-size: 35px; 
    color: #FFFFFF;
    padding-top: 2px;
}

.cook-review-txt {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
}

.tinymce-img {
    font-size: 15px;
}

.tinymce-img img {
    max-width : 400px;
    max-height : 220px;
}

.cook_map_title2 {
    letter-spacing: 1px;
    margin: 0;
    padding-top: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #FFE400;
    text-align: center;
}


.map_menu_icon_con {
    padding-top: 60px;
    width: 488px;
    margin: 0 auto;
}

.map_menu_icon_size {
    width: 50px;
}

.map_menu_icon_con_map {
    width: 750px;
    height: 500px;
    margin: 0 auto 50px;
    border-radius: 15px
}

.maps_every_size {
    border-radius: 15px;
    width: 750px;
    height: 500px;
}


.map_menu_icon {
    text-align: center;
    float: left;
    margin-right: 50px;
}

.map_menu_icon_text {
    display: block;
    padding-top: 10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
}

.map_menu_icon_text:hover {
    color: #FFE400;
}


.map_menu_icon:nth-child(5) {
    margin-right: 0px;
}

@media (max-width: 991px) {
    
    .new_background {
    padding-top: 120px;
    }
    
    .maps {
    width: 500px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

 .map_wrap {
     margin: 0 auto;
     position: relative;
     overflow: hidden;
     width: 500px;
     height: 350px;
 }
    
    .cook_image {
    height: 220px;
    width: 100%; 
    }
     .col-sm-4 {
    padding-right: 3px;
    padding-left: 3px;    
    }
}

@media(max-width: 767px) {
    
    .new_background {
    padding-top: 20px;
    }
    
    .cook_image {
    height: 190px;
    width: 100%; 
    }
    
    .col-sm-4 {
    padding-right: 3px;
    padding-left: 3px;    
    }
}


@media (min-width: 551px) and (max-width: 766px) {

.new_background{
    padding-top: 20px;
    }

.menu-modal-content {
        width: 100%;
}

.cook_grandparent {
    width: 540px;
}

.cook_parent {
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
}

.cook_parent > img {
    width: 250px;
}

.cook_image {
    height: 180px;
    width: 100%;
}

.col-xs-4 {
    padding-right: 3px;
    padding-left: 3px;    
}

}

@media (min-width: 0px) and (max-width: 550px) { 

.tinymce-img {
    font-size: 13px;
    font-weight: 600;
}

.new_background {
    padding-top: 20px;
    }

.menu-modal-content {
        width: 100%;
}
    
.map-name {
    font-family: 'Architects Daughter', cursive;
    font-weight: 600;
    color: black;
    font-size: 15px;
}    
    
.map-hide {
    margin-bottom: 5px;
    display: block;
}    
    
.maps {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

 .map_wrap {
     position: relative;
     overflow: hidden;
     width: 100%;
     height: 350px;
 }    
    
.btn-mobile {
    padding: 5px 12px 7px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
}
    
.cook_main {
    height: 190px;
    background-image: url("/images/eat_mobile50.jpg");
}

.cook_title {
    padding-bottom: 20px;
    padding-top: 40px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #fffffF;
}

.cook_con {
    margin: 0 auto;
    width: 310px;
}

.cook_input {
    padding-top: 6px;
    padding-bottom: 6px;
}

.cook_category {
    width: 320px;
    margin: 10px auto 10px;
}

.gnb {
	float: left;
}

.gnb li {
    font-size: 12px;
	list-style: none;
	float: left;
	margin-left: 18px;
}

.gnb > li > a {
    color: #FFFFFF;
	text-decoration: none;
}

.gnb > li > a:hover {
    color: #ff792a;
}


.cook_category::after {
	content:'';
	display: block;
	clear: both;
}

.cook_body {
    width: 320px;
    height: 350px;
    margin: 0px auto;
}

.cook_menu {
    line-height: 20px;
    font-size: 13px;
    // margin-right: 2px;
    width: 78px;
    height: 35px;
}


// index 페이지 메뉴 //
.index_menu_icon_con {
    padding-top: 10px;
    width: 310px;
    margin: 0 auto;
}

.index_menu_icon_text {
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
}

.menu_content {
    height: 92px;
}

.cook_grandparent {
    padding-top: 10px;
    width: 320px;
}

.cook_parent {
    height: 130px;
    width: 150px;
}

.cook_parent:nth-child(odd) {
    margin-right: 5px;
    margin-left: 5px;
}

.cook_parent:nth-child(even) {
    margin-right: 5px;
    margin-left: 5px;
}

.cook_parent > img {
    height: 130px;
    width: 150px;
}

.new_event {
    top: 60px;
    left: 260px;
    height: 21px;
    width: 90px;
}

.new_event_txt {
    font-size: 11px;
    padding-top: 3px;
    margin: 0px;
}

.event_edit {
    top: 85px;
    right: 9px;
}

.cook_event {
    position: absolute;
    top: 30px;
    left: 51px;
    height: 21px;
    width: 50px;
}

.cook_event_txt {
    font-size: 10px;
}

.cook_event_detail {
    top: 55px;
    left: 0px;
    height: 28px;
    width: 150px;
}

.cook_event_detail_txt {
    line-height: 20px;
    font-size: 11px;
}

.queryname {
    margin-left: 3px;
    margin-bottom: 10px;
    font-size: 13px;
}

.queryname_span {
    font-size: 17px;
}

.eat_banner {
    height: 120px;
    width: 100%;
}

.eat_banner_text {
    font-size: 20px;
}

.eat_banner_text2 {
    font-weight: 400;
    padding-bottom: 0px;
    padding-top: 32px;
    font-size: 13px;
}

// 가게 상세 정보

.span12 {
    margin-top: 0px;
}

.store-title {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.store_title_adver {
    background-color: #f7702e;
    width: 100%;
    margin: 10px auto;
}

.store-title_adver_txt {
    font-size: 17px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.store-title-review {
    font-size: 14px;
}

.store-title-cooklist {
    font-size: 14px;
    font-weight: 400;
}

.store_title_con {
    width: 100%;
    margin: 10px auto;
}

.store_detail_con {
    width: 350px;
}

.store_detail_text1 {
    position: relative;
    background-color: white;
    width: 340px;
    height: 315px;
    padding: 20px 0px 0px 20px;
    margin: 0 auto;
}

.store_manage {
    top: 320px;
    left: 210px;
}

.store_detail_text2 {
    float: none;
    width: 340px;
    margin: 0 auto;
    border-top: 1px solid rgba(150, 150, 150, 0.22);
}


.menu_parent2 {
    margin-left: 80px;
}

.store-rating-con {
    width: 340px;
}

.store-rating {
    font-size: 20px;
}

.store-rating-number {
    font-size: 40px;    
}

.rating-reply-con {
    width: 340px;
}

.store-rating-reply {
    margin-bottom: 5px;
}

.review-con {
    padding-top: 15px;
    width: 340px;
}

.review_title {
    font-size: 13px;
}

.review-input {
    margin-top: 0px;
}

.review-confrim-title {
    right: 6px;
    top: 318px;
    font-size: 13px;
}

.rating-option {
    padding-top: 3px;
}

.rating-option > img {
    width: 21px;
}

.review-confirm {
    position: absolute;
    top: 315px;
    right: 35px;
}

.review-user-con {
    padding: 10px;
    margin: 55px auto;
    width: 340px;
}    

.cook-review-txt {
    letter-spacing: 0px;
    font-size: 13px;
}

.tinymce-img img {
    width : 100%;
    max-height : 200px;
}

.carousel-inner.onebyone-carosel {
    width: 100%;
}
.fa-chevron-left {
    margin-top: 85%;
    color: #FFFFFF; 
}
.fa-chevron-right {
    margin-top: 85%;
    color: #FFFFFF; 
}

//  store contain 기본값 15px 

.menu_parent2_mobile {
    margin-left: 30%;
}

.btn-detail-storeprice {
    padding: 3px 12px;
    font-size: 13px;
}

// 가게 사진 크기 슬라이드, 기본값 15px

.menu_title1 {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

.menu_content1 {
    font-size: 14px;
    margin-bottom: 5px;
    padding-top: 1px;
}

.menu_price {
    margin-left: 55px;
}

.menu_number {
    margin: 0px;
    font-size: 14px;
}

.menu-number2 {
    font-size: 14px;
    margin-bottom: 4px;
}

.menu_parent3 {
    margin-left: 60%;
}

.price-detail {
    width: 200px;
}

.openmenu-title {
    top: 261px;
    left: 95px;
}

.openmenu {
    padding-left: 170px;
}

.btn-map {
    margin-top: 5px;
}

.menu_content-text1 {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 2px;
}

.menu_content-text2 {
    color: #8a8b8f;
    font-size: 13px;
    margin-bottom: 2px;
}

.menu_content-text3 {
    font-size: 12px;
    margin-top: 3px;
}

.cook_mediparent {
    height: 230px;
}

.cook_image {
    height: 145px;
    width: 100%;
}

.store-rating-reply > img {
    width: 13px;
}

.store-rating-form > img {
    margin: 5px 0px;
    width: 20px;
}

.rating_con {
    width: 100%;
}

.store-modal-content {
    width: 100%;
    height: 300px;
}
// every_map_show
.cook_map_every {
    padding: 0px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('/images/cook_map_every43.png');
}

.cook_map_title_con {
    width: 153px;
    margin: 0 auto;
}

.random_title_con {
    width: 126px;
    margin: 0 auto;
}

.countdown_second {
    font-size: 70px;
    margin-top: 60px;
}

// .roulette {
//     position: relative;
//     width: 210px;
//     margin: 40px auto 80px;
// }

.roulette_title {
    margin-top: 60px;
    font-size: 70px;
}

.random_every {
    height: 450px;
}

.random_page_every {
    height: 570px;
}

.cook_map_title {
    letter-spacing: 1px;
    font-size: 20px; 
    padding-top: 2px;
}

.cook_map_title2 {
    letter-spacing: 1px;
    margin: 0;
    padding-top: 30px;
    font-size: 13px;
}

.map_menu_icon_con {
    padding-top: 40px;
    width: 320px;
    margin: 0 auto;
}

.map_menu_icon {
    margin-right: 20px;
}

.map_menu_icon_con_map {
    width: 340px;
    height: 350px;
    margin: 0 auto 50px;
    border-radius: 20px;
}
.maps_every_size {
    border-radius: 20px;
    width: 340px;
    height: 350px;
}

.map_menu_icon_text {
    padding-top: 10px;
    font-size: 12px;
}

.map_menu_icon_size {
    width: 40px;
}


}